dotenv.env
.env
__pycache__/
*.pyc
instance/
.pytest_cache/
.DS_Store

# Correct path to the nested folder
static/uploads/*

# Exception for the .gitkeep file inside that nested folder
!static/uploads/.gitkeep